<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start.Login"></activity>
        <activity android:name=".Start.Regstieren" />
        <activity android:name=".Start.Start" />
        <activity android:name=".Video.ViewshowerActivity"
            android:parentActivityName=".Video.Video"></activity>
        <activity android:name=".HauptMain.selectView"></activity>
        <activity android:name=".Video.Video"
         />
        <activity android:name=".HauptMain.Music">
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationServiceAction.NotificationService" />

        <service android:name=".NotificationServiceAction.onClearFromRecentServic" />
    </application>

</manifest>